{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Part2 Wei Li</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css'%}"></link>
  </head>
  <body>
    <header class="wrapper">
      <h1 class="text-center"><a class="link-dark" href="{% url 'home' %}">Django Part2 Wei Li</a></h1>
    </header>
  </body>
  <div class="wrapper">{% block content%} {% endblock %}</div>
</html>
